body {
  font-family: "Montserrat", sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.citi {
  color: #0cbe1e;
}

.sport {
  color: #de0a0a;
  font-weight: bold;
}

.vico {
  border: 3px solid #8dffac;
  display: block;
  margin: 20px auto;
  height: 150px;
  width: 150px;
}

.vico:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8); /*sombra */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pag1 header {
  background-color: #8dffac;
  padding: 20px; /* altura do cabecalho*/
  text-align: center; /* centraliza o texto */
  width: 100%;
  margin: 0; /* tira qualquer margem externa */
  box-sizing: border-box;
}

.pag2 header {
  background-color: #8dffac;
  padding: 20px; /* altura do cabecalho*/
  text-align: center; /* centraliza o texto */
}

.logociti {
  height: 25px;
  width: 40px;
}

.logoig {
  height: 40px;
  width: 40px;
}

footer {
  display: flex;
  align-items: center;
}

.link2 {
  margin-left: 30px;
  color: green;
  text-decoration: none;
  font-weight: bold;
}

.naoseionoe {
  margin-left: 10px;
}

.naoseionoe2 {
  margin-left: 10px;
}

.rodapepbaixo {
  display: flex;
  align-items: flex-end;
}
